### if, elif, else

<b>It goes by the syntax:</b><br><br>
if <i>condition</i>:<br>
&emsp;<i>statements</i><br>
elif <i>condition</i>:<br>
&emsp;<i>statements</i><br>
else:<br>
&emsp;<i>statements</i>

create a list containing the grades of 14 students. the grades are as follows:<br>
55,60,87,47,96,38,77,58,71,80,85,92,78,56<br>
iterate through the grades to check if they passed or failed. a student passes when they score at least 60.<br>
print the grade of each student along with their status (pass / fail)

In [ ]:
g=[70,60,87,47,96,38,77,58,71,80,85,92,78,56]
for i in range(len(g)):
    if g[i]>=60:
        print(str(g[i])+' pass')
    else:
        print(str(g[i])+' fail')

create a list containing names of saudi cities as follows:<br>
'hofuf','buraydah','khamis mushait','ula','kharkhir','dhahran','yanbu','hail','rijal almaa','qurayyat'<br>
iterate through the list. if the length of the city name is 4 letters or less, print the city name along with the word (short). if the length of the name is longer than 6, print the city name along with the word (long). otherwise, print the city name along with the word (medium).

<hr>

### Homework

Iterate from 1 to 15, printing the number and whether it is odd or even.

Calculate the cube of the following numbers: 3,2,4,8

Iterate through the animals. Print out the animal name and the number of vowels in the name.<br>
*Hint: use nested loops

In [ ]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']

In [ ]:
f=['a','e','u','i','o']
for i in animals:
    c=0
    for j in i:
        if j in f:
            c+=1
            
    print(i+' '+str(c))

In [ ]:
f=['a','e','u','i','o']
for i in range(len(animals)):
    c=0
    for j in range(len(animals[i])):        
        if animals[i][j] in f:
            c+=1
            
    print(animals[i]+ ' '+str(c))

Calculate the sum of all numbers from 1 to 15

In [ ]:
c=0
for i in range(15):
    c=c+i+1
    print(c)

In [ ]:
c=0
for i in range(1,16):
    c=c+i
    print(c)