## Pandas

<a id='introduction'></a>

### What is a dataframe?

---
The concept of a "dataframe" comes from the world of statistical software used in empirical research; 
- Generally refers to "tabular" data: a data structure representing cases (rows), each of which consists of a number of observations or measurements (columns)
- **Each row** is treated as a **single observation** of **multiple "variables"** 
- The row ("record") datatype can be **heterogenous** (a tuple of different types) 
- The column datatype must be **homogenous**. 
- Data frames usually contain some **metadata** in addition to **data**; for example, column and row names (unlike Numpy by default)

<a id='introduction'></a>

### What is `pandas`?

---

- A data analysis library — **P**anel **D**ata **S**ystem.
- It was created by Wes McKinney and open sourced by AQR Capital Management, LLC in 2009.
- It's implemented in highly optimized Python/Cython.
- It's the **most ubiquitous tool** used to start data analysis projects within the Python scientific ecosystem.

### Pandas Use Cases

---

- Cleaning data/munging.
- Exploratory analysis.
- Structuring data for plots or tabular display.
- Joining disparate sources.
- Modeling.
- Filtering, extracting, or transforming.

<hr>

#### import library

In [ ]:
import pandas as pd

In [ ]:
x=[1,2,3,4,5]

In [ ]:
s1= pd.Series(x)

In [ ]:
s1

#### create new data frame

In [ ]:
m={'id':[1,2,3,4],'f_name':['modhi','shoug','talal','fahad'], 'age':[22,24,28,23]}

In [ ]:
m

In [ ]:
df1=m

In [ ]:
df1

In [ ]:
df1= pd.DataFrame(m)

In [ ]:
df1

#### create new empty data frame

In [ ]:
df2=pd.DataFrame()

In [ ]:
df2

#### create new columns

In [ ]:
df2['id']= [1,2,3,4]

In [ ]:
df2

In [ ]:
df2['f_name']= ['modhi','shoug','talal','fahad']

In [ ]:
df2

In [ ]:
df2['age']= [22,25,25,26]

In [ ]:
df2

#### read existing data frame

In [ ]:
crash= pd.read_excel('crash_sample.xlsx')

In [ ]:
#df= pd.read_json('kjfvjk.json')

In [ ]:
crash

In [ ]:
crash.shape

#### head and tail

In [ ]:
crash.head(3)

In [ ]:
crash.tail(2)

In [ ]:
crash.sample(5)

#### column names

In [ ]:
crash.columns

In [ ]:
crash.info()

In [ ]:
crash.describe(percentiles=[0.85,.9])

#### where condition

In [ ]:
#crash[crash['region']=='الجوف']

crash[crash['fatalities']>1]

In [ ]:

crash[crash['fatalities']==3]

In [ ]:
crash[crash['region']=='الرياض']

In [ ]:
crash[(crash['region']=='الرياض') | (crash['region']=='مكة المكرمة')]

In [ ]:
#crash2

In [ ]:
crash[crash['r_type']=='مزدوج']

#### specific columns

In [ ]:
#crash[['c_type']]
#crash[['','','','']]
crash[['c_type']]

In [ ]:
crash.c_type
crash['c_type']

In [ ]:
crash[['id','region','c_type']]

In [ ]:
crash.head(2)

#### create new columns

##### 1. crash severity

In [ ]:
s=[]
for i in range(len(crash)):
    if crash['fatalities'][i]>=1:
        s.append('fatal')
    elif crash['injuries'][i]>=1:
        s.append('injury')
    else:
        s.append('pdo')

In [ ]:
s

In [ ]:
crash['severity']= s

In [ ]:
crash.head(5)

In [ ]:
crash[crash['severity']=='fatal']

In [ ]:
crash[(crash['region']=='الرياض')&(crash['severity']=='fatal')]

##### 2. EPDO

In [ ]:
# fatal 275
# injury 40
# pdo 1

In [ ]:
r=[]
for i in range (len(crash)):
    if crash['severity'][i]=='fatal':
        r.append(275)
    elif crash['severity'][i]=='injury':
        r.append(40)
    else:
        r.append(1)

In [ ]:
#r

In [ ]:
crash['epdo_value']=r

In [ ]:
crash.sample(3)

#### counts and unique

In [ ]:
crash['region'].value_counts()

In [ ]:
crash['c_type'].unique()

In [ ]:
crash['c_type'].value_counts()

#### or, and

In [ ]:
#or
crash[(crash['region']=='الرياض') | (crash['region']=='مكة المكرمة')].sample(3)

In [ ]:
#and
crash[(crash['region']=='الرياض') & (crash['injuries']>1)]

In [ ]:
crash2

In [ ]:
crash2.to_excel('crashes in makkah and riyadh.xlsx', index=False)

#### Save data frame

In [ ]:
crash.to_excel('crash2.xlsx', index=False)

#### homework

Create a new column in crash dataframe named 'area'. it should represent the area in which the crash took place based on the region. there are 5 possible areas: <i>najd, hijaz, northern, eastern, southern.</i><br>
<ul>
    <li>najd: الرياض، القصيم، حائل
    </li>
    <li>hijaz: مكة المكرمة، المدينة المنورة
    </li>
    <li>northern: الجوف، الحدود الشمالية، تبوك
    </li>
    <li>eastern: الشرقية
    </li>
    <li>southern: جازان، نجران، الباحة، عسير
    </li>
<u/l>

<hr>

### Day 2

#### group by

In [ ]:
crash.groupby('region').sum()

In [ ]:
c1=crash.drop(['id','r_number','con_id'],axis=1).groupby(['region','r_type']).sum()

In [ ]:
c1

In [ ]:
c1.to_excel('groupby c1.xlsx')

In [ ]:
c1.to_excel('groupby c1_2.xlsx',index=False)

In [ ]:
c1.to_excel('groupby c1_3.xlsx',index=False)

In [ ]:
c1.to_excel('groupby c1_4.xlsx')

In [ ]:
c1=c1.reset_index()

In [ ]:
crash.groupby(by='region').mean()[['fatalities','injuries','vehicles','epdo_value']]

In [ ]:
crash.groupby('region').sum()[['fatalities','injuries','epdo_value']].sort_values('epdo_value',ascending=False)

In [ ]:
crash.groupby('r_type').count()[['id']]

#### read another sample of crash data

In [ ]:
crash2= pd.read_excel('crash_sample_2.xlsx')

In [ ]:
crash2

#### concatenation

In [ ]:
df=pd.concat([crash,crash2])

In [ ]:
df.tail(20)

#### join (merge)

##### join crash data with road lengths by contract id and road id

In [ ]:
length=pd.read_excel('lengths_sample.xlsx')

In [ ]:
length.head()

In [ ]:
df_m= pd.merge(df,length,left_on=['con_id','r_number'],right_on=['con','road'],how='left')

In [ ]:
df_m.head()

#### single operation on columns

In [ ]:
df_m['total_length']= df_m['single_len'] + df_m['dual_len'] + df_m['express_len']

In [ ]:
df_m.head()